body {
  background-color:lightblue;
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
}

#watering-body {
  background-color: red;
  padding: 2%;
  opacity: 0.5;
  width: 40%;
  margin-left: 50px;
  position: sticky;

}

#pot
